@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');

$main-font: 'Poppins', sans-serif;
$meetup-font: 'Lora', serif;
$primary-color: rgb(5, 196, 107);
$primary-color-dark: darken(rgb(5, 196, 107), 10%);
$primary-color-blue: rgb(32, 32, 56);
$danger: rgb(180, 0, 0);
$danger-dark: darken(rgb(151, 0, 0), 10%);
