.show-it {
  display: block !important;
  opacity: 1 !important;
}

.sub-font {
  font-size: 1rem !important;
}

.sub-padding-b {
  padding-bottom: 2.5rem;
}

.base-color {
  color: rgb(32, 32, 56) !important;
}
