.card {

  &Wrapper {
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid rgb(241, 241, 241);
  }
  &Title {
    color: rgb(32, 32, 56);
    font-weight: bold;
    font-size: 1.4rem;
  }

&Img {
  height: 100% !important;
   width: 100 !important;
   object-fit: contain;
   transform: scale(1);
}

&btn {
  color: rgb(5, 196, 107);
  background-color: #fff;
  border: 1px solid rgb(5, 196, 107);

  &:hover {
    color: #fff;
    background-color: rgb(5, 196, 107);
    border: 1px solid rgb(5, 196, 107);

  }
}

&Questions {
  background-color: #fff;
  color: rgb(5, 196, 107);
  border: 1px solid rgb(5, 196, 107);
  transition: all .4s;

  &:hover {
    color: #fff;
    background-color: rgb(5, 196, 107);
  }
}

&Date {
  color: rgb(194, 33, 15);
}
}
